 .amarela-BoasVindas{
        /* border: 4px solid rgb(208, 255, 0); */
        height: 300vh;
}

.vermelha-BoasVindas{
    width: 100%;
    /* border: 2px solid red; */
    height: 3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    background-color: #2E0707;
    padding-right: 12px; 
   
}
.botaoEntrar-boasvindas{
    border-radius: 5px;
    background-color: rgb(93, 11, 11);
    height: 60%;
    width: 10%;
}

.botaoLogin-boasvindas{
    border-radius: 5px;
    background-color: rgb(205, 15, 15);
    height: 60%;
    width: 10%;
   
    }

.roxa-BoasVindas{
    /* border: 2px solid rgb(107, 3, 107); */
    height: 25%;
    display: flex;
}

.verdemusgo-BoasVindas{
    /* border: 4px solid #617e28; */
    height: 100%;
    width: 50%;
    background-color: #130000;
}

.verdeEscuro-BoasVindas{
    /* border: 4px solid #156c1a; */
    height: 100%;
    width: 50%;
    background-color: #130000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.circulo-BoasVINDAS{
    /* border: 4px solid #02ff0e; */
    height: 35%;
    width: 25%;
    border-radius: 170px;
    top: 340px;
    left: 200px;
    position: absolute;
    background-color: #521919;

}
.Quadrado-BoasVINDAS{
    /* border: 4px solid #02ff0e; */
    height: 60%;
    width: 30%;
    border-radius: 90px 0 90px 0;
    position: absolute;
    top: 60px;
    left: 320px;
    background-color: #7C0F0F;
}

.Branca-Boasvindas{
    /* border: 4px solid rgb(249, 249, 249); */
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Logo-Boasvindas{
  font-size: 130px;
  color: #ffffff;
  font-family: bodo;
  
}

.B-Boasvindas{
    /* border: 4px solid rgb(35, 156, 167); */
    height: 355px;
    display: flex;
    justify-content: center;
    
}

.buttonAzulLindo-BoasVindas{
    width: 25%;
    height: 15%;
    border-radius: 50px;
    background-color:  #521919;
}

.verdeClaro-BoasVindas{
    /* border: 4px solid rgb(140, 233, 0); */
    height: 7%;
    background-color: #420C0C;
}

.laranja-BoasVindas{
    /* border: 4px solid orangered; */
    height: 100%;
    width: 30%;
    background-color: #9F1313;
    border-radius: 0px 130px 0px 0px;
} 

.rosa-BoasVindas{
    border: 2px solid rgb(255, 37, 179);
    height: 51%;
    position: relative;
    top: 0%;
}

.azul-BoasVindas{
    border: 3px solid blue;
    height: 50%;
    display: flex;
}

.marrom-BoasVindas{
    border: 2px solid maroon;
    height: 100%;
    width: 50%;
    background-color: #130000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-boasvinda{
font-size: 50px;
color: #ffffff;
}

.divRoxoEscuro-BoasVindas{
    border: 4px solid rgb(157, 0, 255);
    width: 50%;
    background-color: #130000;
    
}


.preto-BoasVindas{
border: 4px solid black;
height: 50%;
/* display: flex;
justify-content: center;
align-items: center; */
background-color: #130000;
}

.verde-claro2-Boasvindas{
    /* border: 4px solid forestgreen; */
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 60px;
}

.cinza2-Boasvindas{
    /* border: 4px solid rgb(44, 39, 39); */
    height: 90%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.vermelhoEscuro-BoasVinda{
    border: 4px solid rgb(109, 6, 6);
    height: 70%;
    width: 70% ;
    background-color: #891313;
    display: flex;
    justify-content: center;
}

.texto2-BoasVindas{
    color: whitesmoke;
    font-size: 50px;
    padding: 5%;
    top: 20px;
}

.cinza-BoasVindas{
    border: 4px solid rgb(85, 82, 82);
    height: 14%;
    background-color: #660C0C;
    display: flex;
    }

    .links-boasvindas{
        border: 4px solid rgb(246, 8, 8);
        height: 14%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 30px;
    }

    .containe-do-icones{
        border: 4px solid rgb(245, 217, 6);
        height: 86%;
        /* display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 2%; */
    }

    .conteine-whatsapp-boasVindas{
        border: 4px solid rgb(6, 245, 82);
        height: 25%;
        display: flex;
       padding-left: 7%;
    }

    .conteine-Linkedin-boasVindas{
        border: 4px solid rgb(6, 245, 82);
        height: 25%;
        display: flex;
        padding-left: 7%;
    }

    .conteine-instagram-boasVindas{
        border: 4px solid rgb(6, 245, 82);
        height: 25%;
        display: flex;
        padding-left: 7%;
    }

    .conteine-youTube-boasVindas{
        border: 4px solid rgb(6, 245, 82);
        height: 25%;
        display: flex;
        padding-left: 7%;
    }

    .conteine--boasVindas{
        border: 4px solid rgb(6, 245, 82);
        height: 25%;
    }


    .cinza-1-Boasvindas{
        border: 4px solid rgb(48, 12, 99);
        height: 100%;
        width: 33%;
    }

    .cinza-2-Boasvindas{
        border: 4px solid rgb(178, 168, 168);
        height: 100%;
        width: 34%;
    }

    .cinza-3-Boasvindas{
        border: 4px solid rgb(178, 168, 168);
        height: 100%;
        width: 33%;
        
    }

    .icone-whatsapp-boasvindas{
        width: 12%;
        height: 79%;  
    }
    .nome-WTS{
     color: #ffffff;
     padding-top: 3%;
     padding-left: 3%;
     font-size: 140%;
    }    

    .icone-linkedin-boasvindas{
        width: 12%;
        height: 80%;  ;
    }

    .nome-Linke-boasvindas{
        color: #ffffff;
        padding-top: 3%;
        padding-left: 3%;
        font-size: 140%;
    }

    .icone-instagram-boasvindas{
        width: 11%;
        height: 79%;            
    }

    .nome-instagram-boasvindas{
        color: #ffffff;
        padding-top: 3%;
        padding-left: 3%;
        font-size: 140%;
    }   

    .icone-youtube-boasvindas{
        width: 11%;
        height: 68%;
        top: 5%;
    }

    .nome-youtube-boasvindas{
        color: #ffffff;
        padding-top: 3%;
        padding-left: 3%;
        font-size: 140%;
    }  