.divAmarelo-cadastro{
    border: 4px solid rgb(0, 0, 0);
    background-color: #000000;
    height: 100vh;
    display: flex;
}

.divVermelha1-cadastro{
    border: 3px solid rgb(0, 0, 0);
    height: 100%;
    width: 20%;
}

.divimg1-cadastro{
    border: 2px solid #9B0000;
    background-color: #9B0000;
    width: 60%;
    height: 8%;
    position: relative;
    top: 92.8%;
    left: -2%;
    border-radius: 50px 0 50px 0;
}

.divimg2-cadastro{
    border: 2px solid #9B0000;
    background-color: #9B0000;
    width: 60%;
    height: 8%;
    position: relative;
    top: -1%;
    border-radius: 50px 0 50px 0;
    left: 42%;
}

.divAzul-cadastro{
    border: 2px solid rgb(0, 0, 0);
    height: 100%;
   width: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.divVermelha2-cadastro{
    border: 3px solid rgb(0, 0, 0);
    height: 100%;
    width: 20%;
}

.divRoxa-cadastro{
    border: 3px solid rgb(0, 0, 0);
    height: 80%;
    width: 90%; 
}

.divVerde1-cadastro{
    border: 2px solid #9B0000;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9B0000;
    border-radius: 200px 0 0 0;
}

.divLaranja1-cadastro{
    border: 2px solid #9B0000;
    width: 50%;
    height: 100%;
    background-color: #9B0000;
}

.divPreta-cadastro{
    border: 2px solid black;
    width: 1%;
    height: 100%;
    background-color: black;
} 

.divLaranja2-cadastro{
    border: 2px solid #9B0000;
    width: 50%;
    height: 100%;
    background-color: #9B0000;
} 

.divVerdeEscuro-cadastro{
    border: 2px solid #9B0000;
    height: 71%;
    display: flex;
}

.divVerde2-cadastro{
    border: 2px solid #9B0000;
    width: 100%;
    height: 14%;
    background-color: #9B0000;
    border-radius: 0 0 200px 0;
}

/* titulos */

.titulo-cadastro{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 300%;
    color: white;
}


/* Inputs */

.inputNome-cadastro{
    width: 70%;
    height: 6%;
    position: relative;
    top: 15%;
    left: -7%;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
}

.inputcpf-cadastro{
    width: 70%;
    height: 6%;
    position: relative;
    top: 26%;
    left: 12.5%;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
}

.inputemail-cadastro{
    width: 70%;
    height: 6%;
    position: relative;
    top: 37%;
    left: 20%;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
}

.inputtele-cadastro{
    width: 70%;
    height: 6%;
    position: relative;
    top: 48%;
    left: 20%;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
}

.inputidioma-cadastro{
    width: 70%;
    height: 6%;
    position: relative;
    top: 59%;
    left: 20%;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
}




.inputNacio-cadastro{
    width: 70%;
    height: 6%;
    position: relative;
    top: 15%;
    left: -13%;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
}

.inputdestino-cadastro{
    width: 70%;
    height: 6%;
    position: relative;
    top: 26%;
    left: -1.5%;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
}

.inputtipo-cadastro{
    width: 70%;
    height: 6%;
    position: relative;
    top: 35%;
    left: 10%;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
}

.inputsenha-cadastro{
    width: 70%;
    height: 6%;
    position: relative;
    top: 48%;
    left: 10%;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
}

.inputconfirma-cadastro{
    width: 70%;
    height: 6%;
    position: relative;
    top: 59%;
    left: 10%;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
}


input::placeholder{
    color: #b8afaf;
}

/* Labels */

.labelnome-cadastro{
    color: white;
    position: relative;
    top: 10%;
    left: 21%;
}

.labelcpf-cadastro{
    color: white;
    position: relative;
    top: 21%;
    left: 21%;
}

.labelemail-cadastro{
    color: white;
    position: relative;
    top: 38%;
    left: -56%;
}

.labeltele-cadastro{
    color: white;
    position: relative;
    top: 49%;
    left: -49%;
}

.labelidioma-cadastro{
    color: white;
    position: relative;
    top: 60%;
    left: -49%;
}

.Termos-cadastro{
    color: white;
    position: relative;
    left: 15%;
    top: 5%;
}

.labelnacio-cadastro{
    color: white;
    position: relative;
    top: 10%;
    left: 11%;
}

.labeldestino-cadastro{
    color: white;
    position: relative;
    top: 21%;
    left: 11%;
}

.labeltipo-cadastro{
    color: white;
    position: relative;
    top: 35%;
    left: 11%;
    width: auto;
    display: block;
}

.labelsenha-cadastro{
    color: white;
    position: relative;
    top: 49%;
    left: -59%;
}

.labelconfirma-cadastro{
    color: white;
    position: relative;
    top: 60%;
    left: -59%;
}







.button-cadastro {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #ffffff;
    color: rgb(0, 0, 0);
    left: 45%;
    width: 17%;
   }
 
   button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 100%;
    left: -1%;
   }
 
   button:hover span {
    color: rgb(120, 0, 0);
   }
 
   button::before,
   button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
 
   button::before {
    content: "";
    background: #ffffff;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
 
   button:hover::before {
    transform: translate3d(100%, 0, 0);
   }







.material-checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #777777;
    cursor: pointer;
    position: relative;
    top: -17%;
  }

  .material-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border: 2px solid #eaeaea;
    border-radius: 4px;
    transition: all 0.3s;
    left: 16%;
  }

  .material-checkbox input[type="checkbox"]:checked ~ .checkmark {
    background-color: #ffffff;
    border-color: #ffffff;
  }

  .material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 4px;
    height: 10px;
    border: solid rgb(143, 0, 0);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .material-checkbox input[type="checkbox"]:focus ~ .checkmark {
    box-shadow: 0 0 0 2px #ffffff65;
  }

  .material-checkbox:hover input[type="checkbox"] ~ .checkmark {
    border-color: #f9f9f9;
  }

  .material-checkbox input[type="checkbox"]:disabled ~ .checkmark {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
    border-color: #000000;
  }