.Amarela-Login{
    background-color: #060A14;
    height: 100vh;
    display: flex;
}

.vermelha1-Login{
    height: 99vh;
    width: 30%;
}

.azul-Login{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vermelha2-Login{
    height: 99vh;
    width: 30%;
}

.roxo-Login{
    width: 65%;
    height: 70%;
    background-color: #13349F;
    border-radius: 100px 0 100px 0;
}

.rosa-Login{
height: 20%;
display: flex;
justify-content: center;
align-items: center;
}

.rosa2-Login{
height: 15%;

}

.amarelo-Login{
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marron-login{
    height: 100%;
    width: 70%;
    background-color: #13349F;
    
}

.azulClaro1-Login{
    background-color: #13349F;
    height: 9%;
    width: 44%;
    position: relative;
    top: 92%;
    border-radius: 50px 0 50px 0;
}

.azulClaro2-Login{
    background-color: #13349F;
    height: 9%;
    width: 44%;
    position: relative;
     left: 56%;
     border-radius: 50px 0 50px 0;
}
/* 
Titulo */

.titulo-login{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 300%;
    color: white;
    position: relative;
    top: 30%;
}
/* Inputs */

.inputNome-login{
    width: 90%;
    height: 10%;
    position: relative;
    top: 13%;
    left: 2%;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
}

.inputcpf-login{
    width: 90%;
    height: 10%;
    position: relative;
    top: 21%;
    left: 2%;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
}

.inputemail-login{
    width: 90%;
    height: 10%;
    position: relative;
    top: 29%;
    left: 2%;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
}

.inputtele-login{
    width: 90%;
    height: 10%;
    position: relative;
    top: 37%;
    left: 2%;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
}


/* Label */


.labelnome-login{
    color: white;
    position: relative;
    top: 13%;
    left: 3%;
}

.labelcpf-login{
    color: white;
    position: relative;
    top: 21%;
    left: 3%;
}

.labelemail-login{
    color: white;
    position: relative;
    top: 29.5%;
    left: 3%;
}

.labeltele-login{
    color: white;
    position: relative;
    top: 37.5%;
    left: 3%;
}


.Entrar-login{
    width: 25%;
    height: 30%;
    position: relative;
    left: 60%;
    top: 45%;
    border-radius: 5px;
    background-color: white;
    outline: none;
    border: 2px solid white;
}

button:hover  {
    color: #13349F;
   }

   button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 120%;
    left: -1%;
   }