/* Divs */

.divAmarela-termos {
    border: 3px solid #060A14;
    background-color: #060A14;
    height: 100vh;
    display: flex;
}

.DivVermelha1-termos {
    border: 2px solid #060A14;
    height: 100%;
    width: 15%;
}

.DivVermelha2-termos {
    border: 2px solid #060A14;
    height: 100%;
    width: 15%;
    left: 60%;
}

.DivAzul-termos {
    border: 2px solid #060A14;
    width: 70%;
}

.DivRoxa-termos {
    border: 4px solid #060A14;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DivMarrom-termos {
    border: 4px solid #0C1F62;
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C1F62;
}

.DivVerde-termos {
    border: 4px solid #060A14;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column; /* Para organizar botão e texto em coluna */
    justify-content: center;
    align-items: center;
}

.DivRosa-termos {
    border: 4px solid #0C1F62;
    width: 90%;
    height: 85%;
    background-color: #0C1F62;
}

/* Títulos */

.Titulo-termos {
    font-size: 70px;
    color: #FFFFFF;
}

/* Botão Ver Mais */
.botao-termos {
    background-color: #ffffff;
    border: 2px solid #0C1F62;
    color: #0C1F62;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o texto e a seta */
    transition: background 0.3s, transform 0.3s;
}

.botao-termos:hover {
    background-color: #0C1F62;
    color: #ffffff;
}

/* Ícone da Seta */
.Seta-termos {
    display: inline-block;
    transition: transform 0.3s;
}

.seta-rotacionada {
    transform: rotate(90deg);
}

/* Texto escondido */
.texto-termos {
    margin-top: 10px;
    padding: 10px;
    border-left: 4px solid #0C1F62;
    background-color: #ffffff;
    color: #060A14;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.naiaky-termos{
    font-size: 30px;
    color: #FFFFFF;
}



.Aceito-termos{
    color: #EAF4F4;
    margin-left: 2%;
    font-size: 140%;
    /* border: 2px solid; */
    width: 90%;
    margin-top: -0.1%;
    /* border: 2px solid red; */
  }

  .arrow{
    border: 4px solid rgb(255, 255, 255);
    margin-left: 4%;
    margin-top: -1.2%;
    
  }

  .arrow-termos{
    /* border: 2px solid rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    margin: 2%;
  }