.curved-container1 {
    position: relative;
    width: 100%;
    height: 100%;
top: 30%;
  
  }
  
  .faixa-preta1 {
    position: absolute;
   top: -6%;
    width: 100%;
    height: 40%;
    background-color:#27B2D0 ;
    z-index: 10;
  }
  
  .faixa-azul1 {
    position: absolute;
    top: -20%;
    width: 100%;
    height: 30%;
    z-index: 20;
  }
  
  .bola1 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width:5%;
    height: 60%;
    background-color: white;
    border-radius: 50%;
    z-index: 30;
  }
  